/*설명*/
// $color-primary: #fff4ef;
// $red: #f00;
// $font-color: $red;
$image-dir: "../../images/";

@import "partial/variable";
@import "partial/mixin";

%boxShape {
  border-radius: 20px;
  border: 3px solid $font-color;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

html {
  // font-size: 100 / 16;
  font-size: fontSize() + px;
}
body {
  //   @include bgColor();
  background-color: $color-primary;
}
a {
  text-decoration: none;
  display: inline-block;
}
div {
  padding: 20px;
  font : {
    size: 40px;
    weight: bold;
  }
  @extend %boxShape;

  @at-root a {
    color:green;
  } //부모에게 벗어남?
}
#box1 {
  @include bgColor(#ffcccc);
  //   background-color: #ffcccc;

  & > a {
    color: #a22;
  }
  & > a:hover {
    text-decoration: underline;
  }
  &:hover {
    background-color: #ccc;
  }
}
#box2 {
  background-color: #eee;
  font-size: 20px;
  background-image: url($image-dir + "image-03.png");

  & > a {
    color: #c99;
  }
  & > a:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 500px) {
    background-color: #00f;
  }
}
