@charset "utf-8";

#container{
    display: flex;
}
.item{

/*반응형 flex 사용할 때.*/
    flex-basis: 100px;
    flex-grow: 1;     /*moblie에서 올라갈 때 비율 설정*/
    flex-shrink: 1;   /*PC에서 내려갈 때 비율 */
    
    /* flex: [grow] [shrink] [basis]; */

}
#container > .item:nth-child(1){
    background-color: red;
}
#container > .item:nth-child(2){
    background-color: green;
}
#container > .item:nth-child(3){
    background-color: blue;
}