@mixin header_play_ani($name, $count, $delay) {
  animation: {
    name: $name;
    duration: 1s;
    iteration-count: $count;
    fill-mode: backwards;
    delay: $delay;
  }
}

@mixin clearfix(){
  &::after{
      content: '';
      display: block;
      clear: both;
  }
}

