$color-primery: rgb(255, 108, 108);
$color-secondary: rgb(245, 190, 123);
$color-white: #fff;

$color-grey-light: #b9b9b9;
$color-grey-dark: #474747;


$color-about-top:rgb(238, 97, 97);
$color-about-mid:rgb(236, 123, 123);
$color-about-bot:rgb(240, 155, 155);
$color-about-dark:rgba(139, 0, 0, 0.719);