@charset "utf-8";

/*all  **************/
html{
  scroll-behavior: smooth;
}
* {
  margin: 0 auto;
  padding: 0;
}
#wrapper {
  width: 62%;
}
/*header  **************/

header {
  /* background-color: rgb(189, 139, 123); */
  position: fixed;
  width: 100%;
  text-align: center;
  top: 18vh;
}
header > h1 {
  color: teal;
  font-size: 5em;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header > img {
  width: 64vh;
  height: 50vh;
}
#monitor > ul {
  background-color: black;
  list-style: none;
  display: flex;
  /* flex-direction: column; */
  width: 64vh;
  height: 30px;
  position: relative;
  top: -65px;
}
#monitor li {
  margin: 0 4px;
  padding: 5px 20px 0 20px;
  border-radius: 15%;
}
#monitor li:hover {
  background-color: darkslategray;
}
#monitor a {
  text-decoration: none;
  font-size: 1em;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#monitor a:hover {
  color: yellow;
}
.blank {
  height: 100vh;
}
.blank > .screen{
  display: inline-block;
  width: 580px;
  height: 40vh;
  background-color: #444;
  margin-top: 310px;
  margin-left: 660px;
}
/*section  **************/
section {
  border: 2px solid #eee;
}
section > p {
  font-weight: bolder;
}
#search,
#detail,
#text,
#photo {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  box-sizing: content-box;
}
#search {
  margin-top: 20px;
  background-image: url(/project/selfweb/image/searchbackground.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}
#search > h2 {
  font-size: 5em;
}
#search > p {
  font-size: 2em;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 100px;
}
#search > div {
  font-size: 1.5em;
}
#search > div > input {
  width: 300px;
  height: 50px;
  font-size: 1em;
  box-sizing: content-box;
  padding-left: 5px;
}
#search > div > button {
  width: 100px;
  height: 55px;
  font-size: 0.5em;
  background-color: rgb(55, 54, 58);
  color: white;
  font-weight: bold;
}
#search button:hover {
  color: yellow;
}
#detail {
  text-align: center;
  margin-left: 50px;
  padding: 10px 250px;
  align-items: center;
}
#detail p {
  font-size: 2em;
  font-family: cursive;
  margin: 40px;
}
#detail img {
  display: inline-block;
  width: 150px;
  height: 150px;
}
#text {
  /* margin-top: 80px; */
  background-color: rgb(234, 215, 201);
  flex-direction: column;
}
#text > p {
  font-size: 1.3em;
  line-height: 2em;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#photo {
  margin-top: 28px;
  padding:  0 280px;
  flex-wrap: wrap;
  box-sizing: content-box;
  align-content: center;
}
#photo > img {
  width: 21%;
  margin: 11px;
  height: 200px;
}
#photo > p {
  font-size: 3em;
  font-weight: 1.5em;
  font-style: italic;
}
/*footer  **************/
#bottom {
  padding-top: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 54, 58);
}
#bottom > p {
  color: white;
  line-height: 5em;
}
#bottom > div {
  display: flex;
  justify-content: center;
}
#bottom img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}
/*adinfo  **************/
#adinfo {
  padding-top: 25px;
  height: 100vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#adinfo > h2 {
  font-size: 3.4em;
}

#adinfo > div {
  padding: 10px 27px;
  font-size: 3em;
  font-weight: bolder;
  background-color: #000;
  color: white;
  margin: 20px 0;
}
#adinfo > div > a {
  text-decoration: none;
  color: white;
}
#adinfo a:hover {
  color: yellow;
}


