
header {
  width: 100%;
  height: 90vh;
  color: $color-white;
  position: relative;
  background: {
    image: linear-gradient(
        90deg,
        rgb(116, 100, 72) 0%,
        $color-secondary 52%,
        $color-primery 100%
      ),
      url("../images/img01.jpg");
    blend-mode: multiply;
    size: cover;
  }
  .logo-text {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: -0.2rem;
    position: absolute;
    left: 7rem;
    top: 5rem;
    // transition: all 5s;
    @include header_play_ani(moveLeft, 5, 1.5s);
  }
  .header-text {
    position: absolute;
    left: 7rem;
    bottom: 20rem;
    &-main {
      font-size: 4rem;
      line-height: 3.4rem;
      @include header_play_ani(moveRight, 1, 0.5s);
    }
    &-sub {
      margin-top: 5rem;
      font-size: 2rem;
      @include header_play_ani(moveLeft, 1, 1s);
    }
  }
}
