main {
  display: flex;
  .main-about {
    width: 70%;
    background-color: #eee;

    &-text {
      float: left;
      width: 60%;
    }

    &-photo {
      float: left;
      width: 40%;
      img {
        width: 15rem;
        height: 15rem;
      }
    }
    @include clearfix();
  }

  .main-etc {
    width: 30%;
    &-content {
      display: flex;
      height: 20rem;
      &:nth-child(1) {
        background-color: $color-about-top;
      }
      &:nth-child(2) {
        background-color: $color-about-mid;
      }
      &:nth-child(3) {
        background-color: $color-about-bot;
      }
    }
    &-icon {
      width: 30%;
      line-height: 22rem;
      text-align: center;
      i {
        font-size: 6rem;
        color: wheat;
      }
    }
    &-text {
      width: 70%;
      padding-top: 4rem;
      h3 {
        text-transform: uppercase;
        font-size: 1.7rem;
        color: $color-about-dark;
      }
      p {
        margin-top: 1rem;
        padding-right: 3rem;
        font-size: 1.5rem;
        text-align: justify;
      }
    }
  }
}
