@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-family: "맑은고딕";
  color: #333333;
}
#wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header .logo {
  display: inline-block;
  width: 200px;
  height: 100%;
  background-color: #000;
}

header > ul {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  
}
header > ul > li {
  background-color: thistle;
  color: #000;
  text-align: center;
  width: 200px;
  height: 30px;
}
header > ul > li:hover {
  background-color: tan;
}
header > ul > li > a {
  width: 100%;
  font-size: 20px;
  font-weight: bolder;
  
}
/* header > ul > li:hover .submenu{
  height: 120px;
} */
header .submenu {
  /* display: none; */
  height: 0;
  overflow: hidden;
  background-color: antiquewhite;
  position: relative;
  z-index: 1;
  transition: all .3s ease-in-out;
}
header .submenu li {
  padding: 5px 0;
}
#info-section {
  width: 100%;
  height: 300px;
  background-color: orange;
  position: relative;
  overflow: hidden;
}
#info-section .slide-list{
  width: 3600px;
  display: flex;
  position: inherit;
  transition: .5s;
}
#info-section .slideImg {
  width: 1200px;
  height: 300px;
  position: relative;
}
#info-section .slideImg p {
  padding: 10px 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#info-section .slideImg img {
  width: 100%;
  height: 100%;
}
#img-section {
  height: 200px;
  display: flex;
}
#img-section .content {
  width: 400px;
  height: 100%;
  position: relative;
}
#img-section .content:nth-child(1) {
  background-color: tomato;
}
#img-section .content:nth-child(2) {
  background-color: violet;
}
#img-section .content:nth-child(3) {
  background-color: yellowgreen;
}
#img-section .menu {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #ccc;
  margin-right: 10px;
  border-radius: 0 15px 0 0;
  display: inline-block;
  cursor: pointer;
}
#img-section .menu.active {
  color: white;
  background-color: skyblue;
}
#img-section .contents {
  width: 400px;
  height: 170px;
  border: 2px solid #eee;
  position: absolute;
  display: none;
}
#img-section .contents.on {
  display: block;
}
#img-section .contents1 div {
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
#img-section .contents1 div:hover {
  background-color: slateblue;
}
#img-section .contents2 {
  display: none;
}
#img-section .contents2 img {
  margin: 40px 10px;
  width: 100px;
  height: 100px;
}
#footer {
  height: 100px;
  display: flex;
  align-items: center;
}
#footer .logo {
  width: 30%;
  height: 100%;
  background-color: #ccc;
}
#footer .f_right {
  width: 70%;
  height: 100%;
}
#footer .copyright {
  width: 100%;
  height: 50%;
  background-color: #555;
}
#footer .sns {
  width: 100%;
  height: 50%;
  background-color: #eee;
}
#wrapper .pop-up {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
}
#wrapper .pop-up .modal {
  width: 500px;
  padding: 50px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  background-color: #888;
}
#wrapper .pop-up .modal .exit {
  cursor: pointer;
  width: 60px;
  height: 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
}
#wrapper .pop-up .modal .exit div {
  width: 30px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#wrapper .pop-up .modal .exit p {
  position: absolute;
  top: 5px;
  right: 0;
  color: white;
}
#wrapper .pop-up .modal .exit div:nth-child(1) {
  transform: rotate(-45deg);
}
#wrapper .pop-up .modal .exit div:nth-child(2) {
  transform: rotate(45deg);
}
#wrapper .pop-up .modal h1 {
  font-size: 18px;
  margin-bottom: 30px;
  color: white;
}
#wrapper .pop-up .modal p {
  font-size: 16px;
  color: white;
}
