@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@-webkit-keyframes moveLeft {
  0% {
    opacity: .1;
    -webkit-transform: translateX(-7rem);
            transform: translateX(-7rem);
  }
  70% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveLeft {
  0% {
    opacity: .1;
    -webkit-transform: translateX(-7rem);
            transform: translateX(-7rem);
  }
  70% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveRight {
  0% {
    opacity: .1;
    -webkit-transform: translateX(7rem);
            transform: translateX(7rem);
  }
  70% {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: .1;
    -webkit-transform: translateX(7rem);
            transform: translateX(7rem);
  }
  70% {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2rem;
  font-family: "Nanum Gothic", sans-serif;
}

header {
  width: 100%;
  height: 90vh;
  color: #fff;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#746448), color-stop(52%, #f5be7b), to(#ff6c6c)), url("../images/img01.jpg");
  background-image: linear-gradient(90deg, #746448 0%, #f5be7b 52%, #ff6c6c 100%), url("../images/img01.jpg");
  background-blend-mode: multiply;
  background-size: cover;
}

header .logo-text {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: -0.2rem;
  position: absolute;
  left: 7rem;
  top: 5rem;
  -webkit-animation-name: moveLeft;
          animation-name: moveLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

header .header-text {
  position: absolute;
  left: 7rem;
  bottom: 20rem;
}

header .header-text-main {
  font-size: 4rem;
  line-height: 3.4rem;
  -webkit-animation-name: moveRight;
          animation-name: moveRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

header .header-text-sub {
  margin-top: 5rem;
  font-size: 2rem;
  -webkit-animation-name: moveLeft;
          animation-name: moveLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-about {
  width: 70%;
  background-color: #eee;
}

main .main-about h2 {
  margin: 5rem 23rem;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff6c6c), color-stop(40%, #f5be7b));
  background-image: linear-gradient(to right, #ff6c6c 0%, #f5be7b 40%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main .main-about h2:hover {
  padding-left: 3rem;
}

main .main-about-text {
  float: left;
  width: 60%;
  padding: 1rem 10rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main .main-about-text h3 {
  font-size: 2rem;
  font-style: italic;
}

main .main-about-text h3:hover {
  padding-right: 2rem;
}

main .main-about-text P {
  font-size: 1.3rem;
  line-height: 2.5rem;
  padding: 2rem;
  font-weight: 700;
}

main .main-about-text P:hover {
  padding-left: 2rem;
}

main .main-about-text a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff6c6c;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #ff6c6c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .main-about-text a:hover {
  background-color: #f5be7b;
  color: #fff;
  border-bottom: none;
}

main .main-about-photo {
  float: left;
  width: 40%;
  position: relative;
}

main .main-about-photo .photo {
  width: 40%;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .main-about-photo .photo:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  padding: 0.2rem;
  border: 3px solid rgba(139, 0, 0, 0.719);
  z-index: 10;
}

main .main-about-photo .photo:nth-child(1) {
  top: 1rem;
  left: 6rem;
}

main .main-about-photo .photo:nth-child(2) {
  top: 6rem;
  left: 15rem;
}

main .main-about-photo img {
  width: 100%;
  height: 100%;
}

main .main-about::after {
  content: "";
  display: block;
  clear: both;
}

main .main-etc {
  width: 30%;
}

main .main-etc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20rem;
}

main .main-etc-content:nth-child(1) {
  background-color: #ee6161;
}

main .main-etc-content:nth-child(2) {
  background-color: #ec7b7b;
}

main .main-etc-content:nth-child(3) {
  background-color: #f09b9b;
}

main .main-etc-icon {
  width: 30%;
  line-height: 22rem;
  text-align: center;
}

main .main-etc-icon i {
  font-size: 6rem;
  color: wheat;
}

main .main-etc-text {
  width: 70%;
  padding-top: 4rem;
}

main .main-etc-text h3 {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: rgba(139, 0, 0, 0.719);
}

main .main-etc-text p {
  margin-top: 1rem;
  padding-right: 3rem;
  font-size: 1.5rem;
  text-align: justify;
}

footer {
  background-color: #474747;
  color: #b9b9b9;
  padding: 4rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-logo-text {
  width: 25%;
  font-size: 4rem;
  line-height: 6rem;
  text-transform: uppercase;
}

footer .copyright {
  font-size: 2rem;
  width: 75%;
}

footer .copyright p:nth-child(1) {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  -webkit-column-rule-style: dashed;
          column-rule-style: dashed;
  -webkit-column-rule-width: 1px;
          column-rule-width: 1px;
  -webkit-column-rule-color: #b9b9b9;
          column-rule-color: #b9b9b9;
}

.gnb a {
  text-decoration: none;
}

.gnb label[for="gnb_toggle"] {
  width: 7rem;
  height: 7rem;
  background-color: #f5be7b;
  position: fixed;
  top: 8rem;
  right: 8rem;
  z-index: 20;
}

.gnb > #gnb_toggle {
  display: none;
}

.gnb > #gnb_toggle:checked ~ .gnb_bg {
  -webkit-transform: scale(55);
          transform: scale(55);
  opacity: 1;
}

.gnb > #gnb_toggle:checked ~ .gnb_body {
  display: block;
}

.gnb > .gnb_bg {
  width: 7rem;
  height: 7rem;
  background-color: #ff6c6c;
  position: fixed;
  top: 8rem;
  right: 8rem;
  z-index: 18;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.gnb > .gnb_body {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 18;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.gnb > .gnb_body > ul {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gnb > .gnb_body > ul li {
  text-align: center;
  font-size: 5rem;
  color: #474747;
}

.gnb > .gnb_body > ul li span:nth-child(1) {
  padding-right: 1rem;
}

.gnb > .gnb_body > ul a {
  display: block;
  color: #b9b9b9;
  border-radius: 1rem;
  background-image: linear-gradient(150deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  -webkit-transition: all 1s;
  transition: all 1s;
  padding: 1rem;
}

.gnb > .gnb_body > ul a:hover {
  color: #ff6c6c;
  background-position: 100%;
  -webkit-transform: translate(2rem);
          transform: translate(2rem);
}
