@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
#back-img {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(Image/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#wrapper {
  width: 1023px;
  height: 75vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}

/************** 상단배너 *************/
#banner {
  box-sizing: border-box;
  width: 1023px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 40px;
  color: #fff;
  animation: color 15s;
  animation-delay: 5s;
  position: fixed;
  text-align: center;
  z-index: 10;
}
#banner b {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2em;
  transition: 2s;
  animation: action 3s ease-in-out 2s;
}
#banner .line {
  margin: 0 20px;
  width: 650px;
  height: 2px;
  background-color: #fff;
  animation: backcolor 15s;
  animation-delay: 5s;
}
#banner .menu {
  display: flex;
}
#banner .menu div {
  margin: 0 2px;
  width: 4px;
  height: 4px;
  background-color: #fff;
  animation: backcolor 15s;
  animation-delay: 5s;
  border: none;
  border-radius: 50%;
}
#banner i {
  font-size: 0.6em;
  margin: 0 10px;
  color: yellowgreen;
}
.sns {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 70px;
  right: 30px;
  z-index: 2;
}
.sns a {
  display: inline-block;
  margin: 10px 0;
}
.sns a i,
.sns a p {
  color: #fff;
  animation: color 15s;
  animation-delay: 5s;
}
.sns a:nth-child(4) {
  writing-mode: tb-rl;
}
/************** 메인화면 *************/
#main {
  box-sizing: border-box;
  padding: 30px 40px;
  width: 100%;
  height: 100%;
  background-image: url(Image/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  z-index: 10;
}
#main a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
#main .backpage {
  display: inline-block;
  padding: 5px;
  margin-top: 50px;
  cursor: pointer;
}
#main .detail {
  margin-top: 80px;
}
#main .detail b {
  font-size: 1.2em;
}
#main .detail h1 {
  margin: 15px 0;
  font-size: 5em;
  line-height: 1em;
  letter-spacing: 8px;
}
#main .detail p {
  font-size: 1.3em;
}
#main .btn {
  margin-top: 30px;
}
#main .btn a {
  padding: 8px 25px;
  margin-right: 30px;
  border: 1px solid #fff;
  border-radius: 30px;
  cursor: pointer;
}
#main .btn p {
  display: inline-block;
  font-size: 0.8em;
}
#main > a {
  position: absolute;
  bottom: 40px;
  left: 30px;
}

/************** 로딩화면 *************/
#load {
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: play 8s;
  animation-delay: 5s;
}
#load::before {
  content: "";
  display: inline-block;
  background-color: #998473;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: background 2s;
  animation-delay: 5s;
}
#load .logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#load .logo p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2em;
  position: relative;
}
#load .logo .loading {
  width: 100px;
  height: 3px;
  overflow: hidden;
}
#load .logo .loading .bargage {
  font-size: 0;
  width: 300px;
  height: 3px;
  position: relative;
  animation: loading 5s;
  animation-delay: 5s;
  animation-timing-function: linear;
}
#load .logo .loading .bargage .bar {
  display: inline-block;
  width: 100px;
  height: 3px;
}
#load .logo .bar:nth-child(odd) {
  background-color: #999;
}
#load .logo .bar:nth-child(even) {
  background-color: #444;
}
/************** 인포화면 *************/
#desk {
  width: 0;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  animation: width 10s;
  animation-delay: 10s;
  z-index: 0;
}
.imggroup {
  width: 550px;
  margin: 0 auto;
  position:relative;
  top: 200px;
}
.imggroup img {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 0;
  opacity: 0;
  animation: play 2s linear;
}
.imggroup img:nth-child(1){animation-delay: 12s;}
.imggroup img:nth-child(2){animation-delay: 14s;}
.imggroup img:nth-child(3){animation-delay: 16s;}
.imggroup img:nth-child(4){animation-delay: 18s;}
.textslide{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  opacity: 0;
  animation: play 8s linear 12s;
}
.textslide b {
  font-size: 2em;
  font-weight: 700;
  color: #000;
}
/************** 정보화면 *************/

/************** 애니메이션 *************/

@keyframes loading {
  100% {
    transform: translateX(-200px);
  }
}
@keyframes action {
  100% {
    transform: translate(22vw,32vh);
    opacity: 0;
  }
}
@keyframes background {
  0% {
    opacity: 0;
  }
}

@keyframes width {
  20%,
  100% {
    width: 100%;
  }
}
@keyframes color {
  0%,
  100% {
    color: #000;
  }
}
@keyframes backcolor {
  0%,
  100% {
    background-color: #000;
  }
}
@keyframes play {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  } 
}