@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body{
  height: 500vh;
}
#wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url(image/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  left: 0;
  perspective: 1000px;
}
#stage{
  transform-style: preserve-3d;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
#box{
  transform-style: preserve-3d;
  width: 100vw;
  height: 100vh;
  transform: translateZ(-500vh);
}
nav{
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}
.logo{
  background-image: url(image/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
}
li{
  display: flex;
}
li a{
  text-decoration: none;
  color: #fff;
  margin: 0 50px;
}
li a:nth-child(1){
  margin-left: auto;
}
li a:hover{
  color: red;
} 
.btn_gameyear{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}
.btn_gameyear a{
  margin: 10px 0;
  padding: 5px 50px 5px 3px;
  border-radius: 0 20px 20px 0;
  font-size: 1.5em;
  text-decoration: none;
  color: #eee;
  background-color: red;
  transition: .3s;
}
.btn_gameyear a:hover{
  /* padding-right: 100px; */
  color: mediumslateblue;
}
.contents{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}
#year_1970{transform: translateZ(300vh);}
#year_1980{transform: translateZ(100vh);}
#year_2000{transform: translateZ(-100vh);}
#year_2010{transform: translateZ(-300vh);}
#year_2020{transform: translateZ(-500vh);}

.contents img{
  width: 50%;
  height: 100%;
  display: inline-block;
}
.contents .info{
  margin:0 100px;
}
.contents .info h1{
  font-size: 6em;
  margin-bottom: 250px;
}
.contents .info p{
  font-size: 3em;
}

b{
  position: absolute;
  bottom: 20px;
  right: 50px;
  font-size: 1.1em;
  color: #ccc;
}
.act{
  opacity: 1;
}
.noact{
  opacity: 0.2;
}
