@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-size: 0;
}
#container {
  border: 2px solid black;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-flow: row wrap-reverse;  flex-flow: direction wrap */

  /************************ 축 정리 ******************************/

  justify-content: center;  /* 주축 정렬 */
  align-content: center;  /* 교차축 정렬 (2줄 - wrap)*/
  align-items: center;   /* 교차축 정렬 (1줄 - nowrap)*/

  /************************ 축 정리 ******************************/

}
#container > .item {
  width: 100px;
  height: 200px;
}
#container > .item:nth-child(1) {
  background-color: red;
}
#container > .item:nth-child(2) {
  background-color: blue;
  order: -1;
}
#container > .item:nth-child(3) {
  background-color: green;
  order: -2;  /* 순서정렬 - 크기 순*/
}
#container > .item:nth-child(4) {
  background-color: pink;
}
#container > .item:nth-child(5) {
  background-color: yellow;
}
