@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
/*
font-family: 'Titillium Web', sans-serif;
font-family: 'Monoton', cursive; 
*/

html {
  font-size: 62.5%;
  font-family: "Titillium Web", sans-serif;
}
body {
  /* overflow-x: hidden; */
  letter-spacing: -0.1rem;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  line-height: 1.6;
}

/* global gnb */
.global-nav {
  width: 100%;
  height: 4.4rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  position: absolute;
  top: 0;
  left: 0;
}
.local-nav {
  width: 100%;
  height: 5.2rem;
  border-bottom: 1px solid #eee;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  position: absolute;
  top: 4.4rem;
  left: 0;
}
.global-nav .global-nav-link,
.local-nav .local-nav-link {
  max-width: 100rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.global-nav .global-nav-link {
  justify-content: space-between;
}
.global-nav-link a {
  font-size: 1.4rem;
}
.local-nav .local-nav-link .product-name {
  margin-right: auto;
  font-size: 2rem;
  font-weight: bolder;
}
.local-nav-link a:not(.product-name) {
  margin-left: 2rem;
}

/* section */
.scroll-section {
  box-sizing: border-box;
  padding-top: 50vh;
  border: 3px solid red;
}

/* section 0 */
#scroll-section-0 h1 {
  font-size: 5.6rem;
  font-weight: bolder;
  text-align: center;
}
.main-message {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-message p {
    font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
}

/* section 1 */
#scroll-section-1 .description {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1.4rem;
}
#scroll-section-1 .description strong {
  font-size: 4.2rem;
  margin-right: 0.5rem;
  float: left;
}
/* section 2 */
#scroll-section-2 .main-message {
  font-size: 3rem;
  text-align: center;
}
#scroll-section-2 .main-message small {
  display: block;
  font-size: 2rem;
}
#scroll-section-2 .desc-message {
  width: 40%;
}
#scroll-section-2 .desc-message .pin {
  width: 1px;
  height: 10rem;
  background-color: #222;
}
/* section 3 */
#scroll-section-3 .canvas-caption {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1.4rem;
}
/* footer */
.footer {
  font-size: 2rem;
  font-weight: bold;
  height: 7rem;
  color: #fff;
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* sticky */
.sticky-elem {
  display: none;
  position: fixed;
  width: 100%;
  top: 60vh;
  left: 0;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}
