@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,600;0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #11010d;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  font-family: "Urbanist", sans-serif;
  transition: all 0.2s linear;
  overflow: hidden;
}

ul {
  list-style: none;
}
ul,
li,
a,
h1,
input,
label,
i,
button,
div,
header,
main,
footer,
p {
  color: inherit;
}
a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#wrap {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  height: 100vh;
  position: relative;
}
#wrap > h1 {
  margin: 0 auto;
  text-align: center;
  width: 5rem;
  height: 5rem;
  font-size: 3.8rem;
  font-weight: 500;
  border: 2px solid #11010d;
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s linear;
}
/* header */
header {
  width: 100%;
}
header .logo {
  padding: 1rem;
  text-align: center;
}
header .logo h1 {
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  transition: all 0.2s linear;
}
header .mainmenu {
  height: 4rem;
}
header .mainmenu ul {
  display: flex;
  justify-content: center;
}
header .mainmenu ul li {
  margin: 0 0.8rem;
}
header .mainmenu ul li a i {
  font-size: 1.9rem;
  transition: all 0.2s linear;
}
header .mainmenu label {
  display: none; /*block*/
  text-align: center;
  transition: all 0.2s linear;
}
header .mainmenu label input {
  margin: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #11010d;
  padding: 0.5rem;
  width: 50rem;
  font-weight: bold;
}
header .mainmenu label i {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
/* main */
main {
  padding: 4rem;
}
main h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}
main form {
  margin: 0 auto;
  width: 35rem;
}
main form .choice {
  margin: 2rem 3rem;
}
main form .choice > input {
  margin: 0 1rem;
}
main form .find{
  display: none;
  position: relative;
  top: 1rem;
}
main form input[type="text"],
main form input[type="password"],
main form input[type="email"] {
  width: 35rem;
  margin: 1rem 0;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 2px solid #11010d;
  outline: none;
  font-size: 1.5rem;
  background-color: transparent;
}
main form p {
  position: relative;
  padding: 0.1rem 0.4rem;
  width: 35rem;
  font-size: 0.8rem;
  display: inline-block;
  background-color: #fff;
}
main form button {
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #11010d;
  color: #fff;
  margin-top: 1rem;
  padding: 5px 15px;
  cursor: pointer;
}
.sign-up {
  display: inline-block;
  margin: 0.5rem 0;
  /* color: #fff; */
}
.sign-up li:nth-child(1) a {
  display: inline;
}
.sign-up li {
  padding: 0.05rem 0;
  color: inherit;
}
.sign-up li a {
  font-size: 1.2rem;
}
/* footer */
footer {
  width: 100%;
  position: absolute;
  bottom: 5rem;
}
footer .gnb {
  display: flex;
  justify-content: center;
  transition: all 0.2s linear;
}
footer .gnb li {
  margin: 0 3.5rem;
}
footer .gnb li a {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
}

.changeBgColor {
  background-color: #11010d;
}
.changeBgColor-light {
  background-color: #fff;
}
.changeTextColor {
  color: #fff;
}
.changeTextColor-dark {
  color: #11010d;
}
