@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body.modal-open {
  overflow: hidden;
}
/* modal */
#modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  display: none;
  opacity: 0;
  animation: modalOpen 0.3s linear;
  animation-fill-mode: both;
  /* transition: 1s ease-in; */
}
.modal-popup {
  background-color: #fff;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
.modal-popup h1 {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  font-size: 1.8vw;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  color: #222;
  border: 0.3vw solid #222;
  border-radius: 1.5vw;
  padding: 2vh 3vw;
}
.modal-img {
  width: 50%;
  height: 100%;
}
.modal-img img {
  width: 80%;
  /* height: 50%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-img video {
  width: 100%;
  height: 100%;
}
.modal-detail {
  width: 40%;
  height: 50%;
}

.modal-detail > div {
  padding: 3vh;
}
.contents p {
  font-size: 1.8vw;
  font-weight: 500;
  color: #000;
}
.contents-detail li {
  font-size: 1.2vw;
  font-weight: 300;
  color: #000;
}
.modal-link {
  text-align: center;
}
.modal-link button {
  width: 8vw;
  height: 5vh;
  display: inline-block;
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
  border-radius: 0.8vw;
  font-size: 1vw;
  font-weight: 700;
  transition: 0.2s linear;
  position: absolute;
  transform: translateX(-50%);
  bottom: 10%;
}
.modal-link .my-html {
  left: 38%;
}
.modal-link .modal-close-button {
  left: 50%;
}
.modal-link .my-github {
  left: 62%;
}
.modal-link button:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
}
/* home */
#home {
  width: 100%;
  height: 100vh;
  position: relative;
}
input[id="nav-button"] {
  display: none;
}
label[for="nav-button"] {
  z-index: 10;
  position: fixed;
  top: 3rem;
  right: 3rem;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  transition: 0.5s linear;
}
label[for="nav-button"].modal-on {
  opacity: 0;
  right: -10rem;
}
input[id="nav-button"]:hover {
  transform: scale(0.9);
}
input[id="nav-button"]:checked ~ label[for="nav-button"] .bar1 {
  top: 50%;
  transform: rotate(45deg);
}
input[id="nav-button"]:checked ~ label[for="nav-button"] .bar2 {
  display: none;
}
input[id="nav-button"]:checked ~ label[for="nav-button"] .bar3 {
  top: 50%;
  transform: rotate(-45deg);
}
input[id="nav-button"]:checked ~ nav {
  transform: translateY(0rem);
}
.bar {
  width: 3rem;
  height: 0.15rem;
  background-color: #000;
  position: absolute;
  transition: 0.2s linear;
}
.bar1 {
  top: 0;
}
.bar2 {
  top: 50%;
}
.bar3 {
  top: 100%;
}
nav {
  width: 100%;
  height: 8rem;
  padding: 0 2rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-8rem);
  transition: 0.2s ease-out;
  z-index: 9;
}
.logo {
  font-size: 3rem;
}
.gnb {
  margin-right: 10rem;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.gnb > li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  transition: 0.3s ease-in-out;
}
.gnb > li > a:hover {
  transform: scale(1.1);
}
.bg-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
}
.home-logo {
  display: inline-block;
  padding: 0 2rem;
  height: 8rem;
  line-height: 8rem;
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
}
.home-header {
  font-size: 10rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-scroll {
  background-color: inherit;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: show-scroll 1.3s linear infinite;
}

.home-scroll p {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.home-scroll .line {
  width: 0.1rem;
  height: 8rem;
  background-color: #fff;
}

@keyframes show-scroll {
  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}
/* profile */
#profile {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #fff;
}
#profile > h1 {
  font-size: 4.2rem;
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
}
.profile-wrap {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 30%;
  height: 50%;
  position: relative;
}
.img-wrap {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background-image: url(../images/KakaoTalk_20211015_160014038.png);
  background-position: center top;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-detail {
  width: 70%;
  height: 50%;
  position: relative;
  padding-left: 5rem;
}
.profile-motto {
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease-in;
}
.profile-motto h1:nth-child(1) {
  padding-right: 20rem;
}
.profile-motto h1:nth-child(2) {
  padding-left: 15rem;
}
.profile-introduce-myself {
  display: grid;
  width: 80%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 5rem;
}
.profile-inner {
  padding-top: 2rem;
}
.profile-inner h2 {
  font-size: 2.4rem;
  font-weight: 300;
  padding: 2rem 0;
}
.profile-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.profile-text li {
  margin-bottom: 1rem;
}
.skills li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.percent {
  width: 70%;
  height: 2rem;
  background-color: #666;
  margin-right: 2rem;
}
/* publishing */
#publishing {
  width: 100%;
  height: 100vh;
  padding-top: 20rem;
  position: relative;
}
#publishing h1 {
  font-size: 4.2rem;
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
}
.publishing-wrap {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.publishing-inner {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rectangle {
  width: 100%;
  height: 49%;
}
.publishing-portfolio {
  position: relative;
  cursor: pointer;
}
.publishing-portfolio img {
  width: 100%;
  height: 100%;
}
.publishing-portfolio::before {
  content: "+";
  font-size: 10rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease-in;
  opacity: 0;
}
.publishing-portfolio:hover::before {
  opacity: 0.6;
  background-color: rgba(240, 240, 240, 0.4);
}

/* design */
#design {
  padding-top: 20rem;
  width: 100%;
  height: 100vh;
  position: relative;
}
#design h1 {
  font-size: 4.2rem;
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
}
.design-wrap {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.design-inner {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
}
.design-inner.left {
  justify-content: start;
}
.design-inner.right {
  justify-content: end;
}
.design-portfolio {
  width: 99%;
  height: 97%;
  position: relative;
  cursor: pointer;
}
.design-portfolio img {
  width: 100%;
  height: 100%;
}
.design-portfolio::before {
  content: "+";
  font-size: 10rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease-in;
  opacity: 0;
}
.design-portfolio:hover::before {
  opacity: 0.6;
  background-color: rgba(240, 240, 240, 0.4);
}

/* contact */
#contact {
  width: 100%;
  height: 100vh;
  position: relative;
}
#contact h1 {
  font-size: 4.2rem;
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
}
.contact-wrap {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 20rem;
}
.contact-message {
  width: 100%;
}
.contact-message h2 {
  font-size: 3.6rem;
  font-weight: 300;
  text-align: center;
}
.contact-profile {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-profile > div {
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-profile span {
  display: inline-block;
  width: 5rem;
  font-size: 3.4rem;
}
.contact-profile p {
  width: 40rem;
  text-align: left;
  font-size: 3rem;
  display: inline-block;
}
.contact-copyright {
  width: 100%;
  height: 20%;
  border-top: 1px solid #000;
  position: relative;
}
.contact-copyright p {
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.publishing-portfolio,
.design-portfolio {
  transition: 0.2s ease-in;
}
.publishing-portfolio:hover,
.design-portfolio:hover {
  transform: scale(0.98);
}

@keyframes modalOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
