@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
h1 {
  width: 100%;
  padding: 20px;
  font-size: 3em;
  background-color: tomato;
  color: white;
}
#wrapper {
  border: 1px solid #000;
  border-radius: 15px;
  width: 400px;
  height: 600px;
  margin: 20px auto;
}
#calculate_screen {
  width: 350px;
  height: 150px;
  border-radius: 15px;
  background-color: #ddd;
  margin: 10px auto;
  overflow: auto;
}
.table {
  width: 300px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}
#arithmetic_operation {
  margin: 10px auto;
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.pad1 {
  width: 75px;
  height: 75px;
  line-height: 75px;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 4px 4px 2px rgb(238, 110, 131);
}
