@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
#wrapper {
  height: 100vh;
  font-weight: bolder;
  font-size: 2vw;
  background-color: #aaa;
  overflow: hidden;
}

/***************** header **********************/
ul {
  list-style: none;
  display: flex;
  text-align: left;
  position: relative;
  z-index: 2;
}
ul li {
  padding: 4vh 3vw;
}
ul li:nth-child(3) {
  margin-left: auto;
}
ul li a {
  text-decoration: none;
  color: black;
}
ul li a:hover{
  color: #eee;
}
h1 {
  font-size: 8vw;
  font-family: "Norican", cursive;
  text-align: center;
  position: relative;
  top: -10vh;
  display: flex;
  justify-content: center;
  z-index: 1;
  animation: h1ani 4s;
  animation-delay: .5s;
}

/***************** aside **********************/
aside {
  padding: 0 3vw;
  display: flex;
  justify-content: space-between;
  transform: translateY(200px);
}

/***************** section **********************/
section {
  position: relative;
  top: -32vh;
}
input[type="radio"] {
  display: none;
}
.image {
  width: 25vw;
  height: 700px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #888;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.image .image_detail {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1.5s;
}
.image .image_detail img {
  width: 25vw;
  height: 700px;
  
}
.btntab {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btntab label {
  margin: 3vh 1vw;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #888;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
input[id="tab1"]:checked ~ .btntab label[for="tab1"],
input[id="tab2"]:checked ~ .btntab label[for="tab2"],
input[id="tab3"]:checked ~ .btntab label[for="tab3"] {
  width: 70px;
  border-color: #000;
}
input[id="tab1"]:checked ~ .image .image_detail {
  left: 0;
}
input[id="tab2"]:checked ~ .image .image_detail {
  left: -25vw;
}
input[id="tab3"]:checked ~ .image .image_detail {
  left: -50vw;
}
.num::before,
.num::after {
  content: "";
  display: inline-block;
  width: 10vw;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 10vh;
}
.num::before {
  left: 25vw;
}
.num::after {
  left: 65vw;
}
.num {
  position: relative;
  top: -35vh;
}
.num p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 8vw;
  transition: 0.5s;
}
input[id="tab1"]:checked ~ .num p:nth-child(2),
input[id="tab1"]:checked ~ .num p:nth-child(3) {
  opacity: 0;
}
input[id="tab2"]:checked ~ .num p:nth-child(1),
input[id="tab2"]:checked ~ .num p:nth-child(3) {
  opacity: 0;
}
input[id="tab3"]:checked ~ .num p:nth-child(1),
input[id="tab3"]:checked ~ .num p:nth-child(2) {
  opacity: 0;
}

@keyframes h1ani {
  0% {
    font-size: 22vw;
    transform: translateY(300px);
  }
}
